// Every page should have a class on the body
// Scope that in each file at the start
.mw-brands 
{
  
}

.ProductImage
{
	text-align: center;
	margin: auto;
	height:125px !important;
}

.ProductActionAdd
{
	margin: auto;
	margin-top:10px;
}