// Every page should have a class on the body
// Scope that in each file at the start
.mw-search {
  
}

#SearchTabsList
{
	list-style-type: none;
	text-decoration: none;
	display: block;
	padding: 0px;
	margin: 0px;
	height:25px;
    
    li 
    {
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        background: #eee;
        border: $border;
        color: inherit;
        float: left;
        font-size: $small_font;
        font-weight: bold;
        margin-bottom: -1px;
        padding: 5px 20px 5px;
        
        a
        {
            text-decoration: none;
        }
    }
    
    li.Active
    {
        background: $white_background;
        border-bottom-color: $white;
    }
}

.tabcontent{
	padding: 10px;
	border-radius: 0 0 3px 3px;
    background: $white_background;
    border: $border;
    clear: left;
    
    .ListView
    {
	   padding-bottom: 15px;
    }    
}

.ToggleSearchFormLink
{
    font-size: $small_font;
    font-weight: bold;    
    padding: 5px 20px 5px;
}

#asearch
{
	margin-bottom: 15px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
    background: $white_background;
    border: $border; 
    padding: 0 10px;
    
    #price_from, #price_to
    {
	   display: inline-block;
    }   
}
