#Footer
{
	background-color: #7C1F00;
	color: $white_font;
	padding: 30px 0px 30px 0px;
	text-align: center;
	font-size: $small_font;
	text-shadow: 2px 2px #FF0000;
    line-height: 16px;
    
    .mw-footer 
    {
        @extend .sprites-moovweb;
        margin: auto;
        font-style:italic;
    }
}